/** Bootstrap Breadcurmbs **/
@font-face {
    font-family: "zawgyi_one";
    src: local("zawgyi_one"), url("../fonts/zawgyi.ttf");
}

@font-face {
    font-family: 'Arial Bold MT';
    src: url('../fonts/ArialRoundedMTBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, ul, li, a, label, h1, h2, h3, h4, h5, h6, option, span {
    font-family: 'Arial' !important

}

select, .btn, select option {
    /*font-family: "zawgyi-one" !important*/
}

.mandatory {
    color: red;
    padding: 3px;
    font-weight: bold;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.pt8 {
    padding-top: 8px;
}

.mg10 {
    margin-bottom: 10px;
}

.breadcrumb {
    margin: 10px 0px 10px 0px;
    background: rgba(245, 245, 245, 1);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 0px;
    display: block;
}

.breadcrumb li {
    font-size: 15px;
}

.breadcrumb a {
    color:#2a757f;

}

.breadcrumb a:hover {
    color: rgba(42, 100, 150, 1);
}

.breadcrumb > .active {
    color: rgba(153, 153, 153, 1);
}

.breadcrumb > li + li:before {
    color: rgba(28, 41, 32, 1);
    content: "\00bb\00a0";
}

/*
*Clock
*/
.breadcrumb .clock {
    width: 18%;
    margin: 0 auto;
    border: 0px solid #333;
}


/* Chosen */

.chosen-select {
    width: 100%;
}

.chosen-select-deselect {
    width: 100%;
}

.chosen-container {
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
}

.chosen-container .chosen-drop {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: 1060;
}

.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
    right: 0;
}

.chosen-container .chosen-results {
    color: #555555;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
    display: none;
    line-height: 1.42857143;
    list-style: none;
    margin: 0;
    padding: 5px 6px;
}

.chosen-container .chosen-results li em {
    background: #feffde;
    font-style: normal;
}

.chosen-container .chosen-results li.group-result {
    display: list-item;
    cursor: default;
    color: #999;
    font-weight: bold;
}

.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}

.chosen-container .chosen-results li.active-result {
    cursor: pointer;
    display: list-item;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #428bca;
    background-image: none;
    color: white;
}

.chosen-container .chosen-results li.highlighted em {
    background: transparent;
}

.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #777777;
}

.chosen-container .chosen-results .no-results {
    background: #eeeeee;
    display: list-item;
}

.chosen-container .chosen-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    z-index: 1;
}

.chosen-container .chosen-results-scroll span {
    display: inline-block;
    height: 1.42857143;
    text-indent: -5000px;
    width: 9px;
}

.chosen-container .chosen-results-scroll-down {
    bottom: 0;
}

.chosen-container .chosen-results-scroll-down span {
    background: url("../img/chosen-sprite.png") no-repeat -4px -3px;
}

.chosen-container .chosen-results-scroll-up span {
    background: url("../img/chosen-sprite.png") no-repeat -22px -3px;
}

.chosen-container-single .chosen-single {
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #555555;
    display: block;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

.chosen-container-single .chosen-single span {
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-container-single .chosen-single abbr {
    background: url("../img/chosen-sprite.png") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 26px;
    top: 12px;
    width: 12px;
}

.chosen-container-single .chosen-single abbr:hover {
    background-position: right -11px;
}

.chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
    background-position: right 2px;
}

.chosen-container-single .chosen-single div {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
}

.chosen-container-single .chosen-single div b {
    background: url("../img/chosen-sprite.png") no-repeat 0 7px;
    display: block;
    height: 100%;
    width: 100%;
}

.chosen-container-single .chosen-default {
    color: #777777;
}

.chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1000;
}

.chosen-container-single .chosen-search input[type="text"] {
    background: url("../img/chosen-sprite.png") no-repeat 100% -20px, #ffffff;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin: 1px 0;
    padding: 4px 20px 4px 4px;
    width: 100%;
}

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.chosen-container-single-nosearch .chosen-search input {
    position: absolute;
    left: -9000px;
}

.chosen-container-multi .chosen-choices {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}

.chosen-container-multi .chosen-choices .search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.chosen-container-multi .chosen-choices .search-field input[type="text"] {
    background: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #555555;
    height: 32px;
    margin: 0;
    padding: 4px;
    outline: 0;
}

.chosen-container-multi .chosen-choices .search-field .default {
    color: #999;
}

.chosen-container-multi .chosen-choices .search-choice {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 6px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}

.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    background: url("../img/chosen-sprite.png") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 4px;
    top: 5px;
    width: 12px;
    cursor: pointer;
}

.chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
    background-position: right -11px;
}

.chosen-container-multi .chosen-choices .search-choice-focus {
    background: #d4d4d4;
}

.chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
    background-position: right -11px;
}

.chosen-container-multi .chosen-results {
    margin: 0 0 0 0;
    padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: none;
}

.chosen-container-active .chosen-single {
    border: 1px solid #66afe9;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-color: #ffffff;
    border: 1px solid #66afe9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
    background: transparent;
    border-left: none;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 7px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #66afe9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container-active .chosen-choices .search-field input[type="text"] {
    color: #111 !important;
}

.chosen-container-active.chosen-with-drop .chosen-choices {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.chosen-disabled {
    cursor: default;
    opacity: 0.5 !important;
}

.chosen-disabled .chosen-single {
    cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}

.chosen-rtl {
    text-align: right;
}

.chosen-rtl .chosen-single {
    padding: 0 8px 0 0;
    overflow: visible;
}

.chosen-rtl .chosen-single span {
    margin-left: 26px;
    margin-right: 0;
    direction: rtl;
}

.chosen-rtl .chosen-single div {
    left: 7px;
    right: auto;
}

.chosen-rtl .chosen-single abbr {
    left: 26px;
    right: auto;
}

.chosen-rtl .chosen-choices .search-field input[type="text"] {
    direction: rtl;
}

.chosen-rtl .chosen-choices li {
    float: right;
}

.chosen-rtl .chosen-choices .search-choice {
    margin: 6px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices .search-choice .search-choice-close {
    background-position: right top;
    left: 4px;
    right: auto;
}

.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results .group-option {
    padding-left: 0;
    padding-right: 15px;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
    background: url("../img/chosen-sprite.png") no-repeat -28px -20px, #ffffff;
    direction: rtl;
    padding: 4px 5px 4px 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-image: url("../img/chosen-sprite@2x.png") !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
    }
}

/*Bootstrap 3 pagination block*/
.pagination > li > a {
    color: #000;
}

.pagination > li > a, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    margin-right: 5px;
}

/**  search **/
.list-search-panel {
    padding: 0px 10px 10px 0px;
}

.colon {
    width: 5px;
    float: left;
}

.tab-list .btn {
    border-radius: 0px;
}

/** **/
.profile-picture {
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 4px;
    display: inline-block;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    font-style: italic;
    color: #DD1144;
    /* border-bottom: none; */
    text-decoration: none;
}

.editable {
    border-bottom: 1px dashed #BBB;
    cursor: pointer;
    font-weight: normal;
}

.img.editable {
    border: 1px dotted #BBB;
}

.space-4 {
    max-height: 0;
    overflow: hidden;
    margin: 12px 0;
    margin: 4px 0;
}

/** sidebar projects **/
.project-list {
    padding: 10px 15px;
    width: 100%;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    background-color: #DDD;
    color: #777;
}

.sidebar-icon {
    /*border-right: 1px solid #dbdee0;*/
    padding: 15px 25px 10px 15px;
    color: #7c848d;
}


.sub-sidebar-text {
    padding: 0px 10px 20px 10px;
}

.nav > li > a.first-level {
    padding: 0px;
    border-bottom:2px solid #f8f8f8
}

.sidebar .arrow {
    padding: 10px 15px;
}

/** Profile **/
.profile-picture {
    border: 1px dotted #BBB;
    position: relative;
    float: left;
    width: 150px;
    height: 100px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.profile-picture canvas {
    width: 100%;
    height: 100%;
}

.drag-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.drag-panel p {
    color: #999;
    padding-top: 15px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
}

.drag-panel i {
    font-size: 40px;
    color: #999;
}

.profile-picture input[type='file'] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.profile-toolbar {
    width: auto;
    height: 28px;
    left: 0;
    right: 0;
}

.profile-picture .caption {
    position: absolute;
    bottom: 0px;
    background: #BBB;
    width: 100%;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    padding: 5px;
}

.profile-picture:hover .caption {
    opacity: 1;
}

.caption strong {
    padding: 10px;
    color: white;
}

/** Photo Upload **/
form {
    margin: 0px;
}

.s-bradius {
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}

.a_photo-form {
    background-color: #e1e1e1;
    float: left;
    padding: 10px;
    width: 100%;
}

.a_photo-form ul {
    list-style: none;
}

.a_photo-form .a-highlight-panel {
    position: relative;
    margin-top: 10px;
}

ul.highlight-photos {
    margin: 0px !important;
    padding: 0px;
}

.a_photo-form .a-cover-panel {
    height: 230px;
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    margin-bottom: 10px;
}

.a-cover-panel .photoloading-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(255, 255, 255, 0.6) url('../img/photo_loading.gif') no-repeat;
    background-size: 50px 20px;
    background-position: 50% 88px;
}

.a-cover-panel .coverphoto-area {
    position: relative;
}

.a-cover-panel .coverphoto-area img {
    width: 100%;
    height: 100%;
}

.a-cover-panel .coverphoto-area .cover-edit {
    position: absolute;
    top: 20px;
    left: 20px;
}

.a-cover-panel .coverphoto-area .cover-edit .fa-camera {
    color: #fff;
    cursor: pointer
}

.a_photo-form .a-highlight-panel {
    position: relative;
    margin-top: 10px;
}

ul.highlight-photos > li {
    float: left;
    width: 153px;
    height: 98px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative
}

ul.highlight-photos > li.p-photo {
    width: 165px;
    margin-bottom: 20px;
}

ul.highlight-photos > li:first-child,
ul.highlight-photos > li:nth-child(6),
ul.highlight-photos > li:nth-child(11),
ul.highlight-photos > li:nth-child(16),
ul.highlight-photos > li:nth-child(21) {
    margin-left: 0px;
}

ul.highlight-photos > li .cover-edit {
    position: absolute;
    top: 10px;
    left: 10px;

}

ul.highlight-photos > li .fa-camera {
    color: #fff;
    cursor: pointer
}

ul.highlight-photos > li .photoloading-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6) url('../img/photo_loading.gif') no-repeat;
    background-size: 50px 20px;
    background-position: 50% 38px;
    display: none;
}

.highlight-photos li input[type='file'] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.a-cover-panel input[type='file'],
.highlight-photos li .drag-info-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center
}

.highlight-photos li .drag-info-panel p {
    color: #999;
    padding-top: 15px;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
}

.highlight-photos li .drag-info-panel span.highlight {
    font-size: 14px;
    color: #999;
}

.a-cover-panel input[type='file'],
.highlight-photos li input[type='file'] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.a-cover-panel .drag-info-panel {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.a-cover-panel .drag-info-panel h4 {
    text-align: center;
    padding-top: 80px;
    color: #999;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/** Car Layout **/
.car-layout {
    border-radius: 6px;
    /*border: 1px solid #B8B8B8;*/
    webkit-border-radius: 4px;
    moz-border-radius: 4px;
    float: left;
}

.carr-layout {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px 0px;
    position: relative;
}

.carr-layout .seat-driver {
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.seater-44,
.seater-40,
.seater-48,
.seater-45 {
    min-width: 800px;
}

.seater-54 {
    min-width: 900px;
}

.seater-27 {
    width: 377px;
}

.seater-28 {
    width: 377px;
}

.seater-20 {
    width: 440px;
}

.seater-12 {
    width: 400px;
}

.seater-98 {

    position: relative;
    
    
}



.seater-123 {
    width: 1300px;
    padding: 30px;
    border: 1px solid #bbb;
}

.car-layout ul li {
    list-style: none;
}

ul.row-margin {
    display: inline-block;
    text-align: right;
    width: 95%;
}

ul.row-margin li {
    list-style-type: none;
}

.seater-123 ul:nth-of-type(1),
.seater-123 ul:nth-of-type(2),
.seater-123 ul:nth-of-type(3),
.seater-123 ul:nth-of-type(4),
.seater-123 ul:nth-of-type(5),
.seater-123 ul:nth-of-type(6),
.seater-123 ul:nth-of-type(7) {
    text-align: left !important;
    margin-left: 80px;
}

.seater-123 .boat-style {
    border: 1px solid #ddd;
    position: relative;
}

.seater-123 .boat-style h2:nth-of-type(1) {
    position: absolute;
    top: 0px;
    left: -20px;
    text-transform: uppercase;
    transform: rotate(270deg);
    font-size: 30px;

}

.seater-123 .boat-style h2:nth-of-type(2) {
    position: absolute;
    top: -100px;
    right: 50%;
    text-transform: uppercase;
    font-size: 30px;
}

.seater-123 .boat-style h2:nth-of-type(3) {
    position: absolute;
    top: -20px;
    left: 13%;
    text-transform: uppercase;
    font-size: 18px;
}

.seater-123 .boat-style h2:nth-of-type(1).lower {
    position: absolute;
    top: -20px;
    left: 37%;
    text-transform: uppercase;
    font-size: 18px;
    transform: rotate(0deg);
}

.bnone {
    border-bottom: none !important;
}

.mt_27 {
    margin-top: -37px;
    border-top: none !important;
}

.middle-row {
    margin-top: 40px;
}

/** Seat **/
.agentSeat, .availableSeat, .disabledSeat, .femaleSeat, .maleSeat, .selectedSeat, .updateSeat, .driverSeat {
    /*background: url('../img/sprites.png') no-repeat;*/
    display: block;
    outline: medium none;
    text-decoration: none;
    /*text-indent: -9999px;*/
    float: left;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

.availableSeat {
    /*background-image: url('../img/seat/4.png');*/
    /*background-size: 70px 60px;*/
    /*background-position: -10px -10px;*/
    width: 30px;
    height: 30px;
    text-decoration: none !important;
    z-index: 10;
    cursor: pointer;
    
}

.bus-seat {
    background-size: 50px 50px !important;
    position: relative !important;
    width: 50px !important;
    height: 50px !important;
}

.carr-layout .availableSeat,
.car .disabledSeat,
.car .availableSeat,
.car .selectedSeat,
.carr-layout .selectedSeat {
    background-size: 50px 50px !important;
    height: 35px !important;
    background-position: center center;
    cursor: pointer;

}

.availableSeat:hover {
    background-color:green;
    color:#fff !important
}
.availableSeat:hover .availableSeat > span{
    color:#fff !important
}

.availableSeat span,
.disabledSeat span,
.selectedSeat span {
    display: block;
    padding-top: 10px;
    padding-right: 17px;
    color: #999;
    cursor: pointer;
}

.disabledSeat span,
.selectedSeat span {
    padding-top: 9px;
}

.carr-layout .disabledSeat span {
    padding-top: 9px;
}

li.seat {
    display: inline-block;
    margin-left: 1px;
    width:30px;
    height:30px;
    position: relative;
}

.car-seat {
    height: 35px;
}

.seat-driver {
   /* position: absolute;
    margin-left: 5px;
    margin-bottom: -10px;
    width: 50px;
    height: 40px;
    bottom: 12%;
    left: 15%;*/
}


.seat-right {

}

.seat-no {
    position: absolute;
    float: left;
    /*margin-left: -35px;*/
    /*margin-top: 13px;*/
    font-size: 11px;
    z-index: 0;
    right: 0px;
    top: 2px;

}

.bus-seat .seat-no {
    margin-left: 32px !important;
    margin-top: 0px;
}

.carr-layout .selectedSeat .seat-no {
    position: relative;
    padding-top: 10px;
}

.driverSeat {
    background-position: -71px -67px;
}

.agentSeat {
    background-position: -119px -68px;
}

/*.disabledSeat {
    background-position: -69px -67px;
}*/

.disabledSeat {
    /*background-image: url('../img/seat/6.png');*/
    /*background-size: 70px 60px;*/
    /*background-position: -10px -10px;*/
    width: 30px;
    height: 30px;
    text-decoration: none !important;
    color:#fff;
}

.carr-layout .disabledSeat {
    background-position: center center;
    height: 35px !important;
    background-size: 50px 50px !important;
}

.femaleSeat {
    background-position: -20px -69px;
}

.maleSeat {
    background-position: -117px -21px;
}

.selectedSeat {

    /*background-image: url('../img/seat/2.png');*/
    /*background-size: 70px 60px;*/
    /*background-position: 0px 0px;*/
    /*background-position: -10px -10px;*/
    /*width: 50px;*/
    /*height: 40px;*/

}

.updateSeat {
    background-position: -21px -22px;

}

.seat-description {
    padding: 15px;
}

.seat-description li {
    list-style: none;
    display: list-item;
    padding: 10px;
}

.car li {
    padding: 0px;
}

.bn {
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.seat-description span {
    margin-left: 10px;
}

.seat-description li .seat {

}

.car span {
    line-height: 35px;
    margin-left: 0px;
}

.pl45 {
    padding-left: 65px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
    overflow:hidden !important;
    padding-bottom:10px !important;
    
}

.pt30:nth-of-type(2){
    padding-top:10px !important;
    
}

.pl18 {
    padding-left: 18px;
}

.mt10 {
    margin-top: 10px;
}

.overflow {
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.bar {
    font-size: 10px;
    padding: 0px 5px;
}

.badge-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.badge-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.f-arial, .alert, input[name='start_date'], input[name='end_date'], .input-number, select, .chosen-container, .time-picker, p, .datepicker-days, .modal, .bootstrap-dialog-footer button, .breadcrumb, .control-label,
.nav > li > a.first-level, .sub-sidebar-text, .btn {
    font-family: "Arial"
}

.badge {
    font-family: "Arial" !important
}

.btn-sm {
    margin-bottom: 5px;
}

.tb-bnone {
    border: none;
}

.tb-bnone > tbody > tr td {
    padding: 20px 0px;
}

.tb-bnone > tbody > tr:nth-child(odd) {
    background-color: #e
}

.tb-bnone > tbody > tr:nth-child(even) {
    background-color: #e
}

ul.route-list {

    padding: 0px;
    margin: 0px;
}

ul.route-list li {
    display: block;
    list-style-type: none;
    width: 30%;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: center;

}

ul.route-list li a {
    padding: 35px 20px;
    display: block;
    text-decoration: none;
    background-color: #33cc00;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;

}

ul.route-list li a:hover {

    background-color: #006400;

}

ul.route-list li a:hover {

    background-color:
}

ul.route-list li a .fa {
    color: #fff;
}

ul.route-list li a:hover {
    text-decoration: none;
}

.badge-danger {
    background-color: red;
}

.badge-green {
    background-color: #5cb85c;
    color: #fff;
}

.tb-bnone > tbody > tr td ul {
    list-style: none;
}

.tb-bnone > tbody > tr {
    position: relative;
}

.tb-bnone > tbody > tr td.remark {
    position: absolute;
    top: 20;
    left: 0;
    padding-top: 60px;
    padding-left: 228px;
    font-size: 12px;
    color: #666
}

.lble-sign {
    position: absolute;
    left: 0px;
    top: 43%;
}

.lble-sign h2 {
    text-transform: uppercase;
    transform: rotate(270deg);
    font-size: 30px;

}

.cus-radio {
    width: 30px;
    height: 20px;
}

span.sp-route-txt {
    padding-top: -20px;
    position:absolute;
    margin-top:3px;
    margin-left:0px;
}

.without-seat-body {
    background-image: url('../img/seat/seat.png');
    background-size: 301px 274px;
    background-repeat: no-repeat;
    height: 274px;
    width: 301px;
    border: none;
    position: relative;
}

.without-seat-body .cricle {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #5cb85c;
    text-align: center;
    color: #fff;
    padding-top: 22px;
}

.without-seat-body .cricle strong {
    font-size: 26px;

}

.without-seat-body-sm {
    background-image: url('../img/seat/seat.png');
    background-size: 101px 90px;
    background-repeat: no-repeat;
    height: 90px;
    width: 101px;
    border: none;
    position: relative;
    margin: 0 auto;
}

.without-seat-body-sm .cricle {
    position: absolute;
    left: 2px;
    bottom: 1px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #5cb85c;
    text-align: center;
    color: #fff;
    padding-top: 9px;
}

.h34 {
    height: 34px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-left: 0px;
}

.mt105 {
    margin-top: 110px;
}

/* slide menu */
.navbar-default {
    /*position:relative;*/
}

#wrapper {
    position: relative;
}

#wrapper .page-wrap {
    position: absolute;
    top: 0px;
    right: 0px;
    transition: width 0.3s ease;
}

input[type=checkbox].chk-slide {
    position: absolute;
    opacity: 0;
}

label.slide {
    position: absolute;
    left: 0px;
    z-index: 1;
    display: block;
    font-size: 3em;
    color: #444;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    transition: transform .4s;
}

.mw-200 {
    max-width: 200px;
}

.btn-xs {
    margin-bottom: 5px !important
}

.sidebar {

    height: 100%;
    min-width: 200px;
}

legend {
    padding-bottom: 8px;
}

/* hamburger menu */
.slide-fixed {
    position: fixed !important;
    left: 0px;
    top: 60px;
    z-index: 10000;
    background-color: #ddd;
    padding: 5px 10px;
    color: #000;
}

.toggle-panel {
    position: relative;
}

.toggle-panel .toggle-bar {
    position: absolute;
    right: 0px;
    top: 10px;

}

.toggle-bar a {
    background-color: #ddd;
    padding: 5px 10px;
}

.ticket-search p {

}

i.route-link {
    color: green;
}

.dn {
    display: none;
}

p.lbl-blocked-seat {
    font-size: 14px;
    padding-top: 10px;
}

p.lbl-blocked-seat span {
    color: #3c763d;
    font-weight: bold;
}

span#remain_seat {
    padding-top: 12px;
    display: block;
    color: #5cb85c;
    font-weight: bold;
}

.car-layout ul {
    margin-bottom: 0px;
}

/* Adding Custom Alert System */

/* start message-bar */
.message-bar {
    width: 100%;
    position: fixed;
    top: -200px;
    left: 0px;
    z-index: 3000;
}

.message-bar .alert {
    font-size: 14px;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px !important;
    min-width: 800px;
    max-width: 1055px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.without-seat-body {
    background-image: url('../img/seat/seat.png');
    background-size: 180px 170px;
    background-repeat: no-repeat;
    height: 274px;
    width: 281px;
    border: none;
    position: relative;
}

.message-bar .alert .status-label {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 105%;
    padding: 10px 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

.message-bar .alert.success {
    border: 1px solid #5cb85c;
}

.message-bar .alert.warning {
    border: 1px solid #ec971f;
}

.message-bar .alert .status-label .fa {
    font-size: 10px;
}

.message-bar .alert .success {
    color: #3c763d;
    background-color: #5cb85c;
}

.message-bar .alert .error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.message-bar .alert .warning {
    background-color: #f0ad4e;
    border-color: #eea236
}

.message-bar .alert .info {
    background-color: #5bc0de;
    border-color: #46b8da;

}

.message-bar .alert.info {

    border: 1px solid #5bc0de;
}

.message-bar .message-alert {
    background-color: #fff;
}

.cross-panel {
    position: relative;
}

.cross-panel .fa {
    position: absolute;
    top: 8px;
    right: 23px;
}

p.booking-reference {
    margin-top: 10px;
    max-width: 200px;
    border: 2px solid #ddd;
    text-align: center;
    padding: 10px 0px;
    font-size: 18px;
}

.dashboard-thumbnail {

    position: relative;
}

.dashboard-thumbnail strong {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;

}

/** But Route Page Loading **/
.loader {
    width: 100%;
    height: 100%;
    top: 120px;
}

.sk-circle {
    margin: 70px auto;
    width: 10em;
    height: 10em;
    position: relative;
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #000000;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

input{
    border-radius:0px !important;
    box-shadow:none !important;
}
.btn{
    border-radius:0px !important;
}
.default-theme{
    background-color:#3d9eab;
    color:#fff;
}
.default-theme input{
    border:none;
}

.white{
    color:#fff !important;
}
.alert{
    border-radius:0px !important;
}
.first-level .fa-home{
    color:#3d9eab
}

.first-level .fa-power-off{
    color:#9a2222
}
.nav > li > a{
    
    padding-right:10px !important;
    font-family:"Arial Bold MT" !important
}
.nav > li > a:hover{
    background-color:#3d9eab;
}
#header-nav > li > a:hover{
    border-bottom:2px solid #3d9eab;
    color:#3d9eab !important;
    background:none;
}
.sidebar ul li .sub-menu{
    position:absolute;
    left:0px;
    width: 180px;
    background-color:#efefef;
    padding:0px;
    display:none;
}
.sidebar ul li .sub-menu li{
    display:block !important;
    padding:10px 0px;
    width:100%;
}
.sidebar ul li:hover .sub-menu{
    display:block;
}
.first-level .fa-road{
    color:#4caf50
}
.first-level .fa-taxi{
    color:#583f7f
}
.first-level .fa-exchange{
    color:#e71b5f
}

.first-level .fa-truck{
    color:#293b70
}

.first-level .fa-male{
    color:#e2391e
}


.first-level .fa-barcode{
    color:#423465
}

.first-level .fa-tablet{
    color:#009688
}

.breadcrumb{

    color:#2a757f !important
}
.btn-system{
    background-color:#2a757f;
    border-color:#2a757f;
    color:#fff !important
}
.btn-system:hover{
    color:#fff !important;
    background-color:#32a3b2 !important
}
table{
    border-color:#3d9eab !important
}
table th{
    background-color:#3d9eab;
    border-color:#3d9eab;
    color:#fff;

}
table th:hover{
    background-color:#3d9eab !important;
}

.chosen-container-single .chosen-single{
    border-radius:0px;
    box-shadow:none;
}
.panel{
    border-radius:0px;
}
.panel-heading{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.panel-primary{
    background-color:#0fd4dc;
    border-color:#0fd4dc;
}
.panel-primary > .panel-heading{

    background-color:#0fd4dc;
    border-color:#0fd4dc;
}
.panel-red{
    background-color:#ff7fe4;
    border-color:#ff7fe4
}

.panel-red > .panel-heading{
    background-color:#ff7fe4;
    border-color:#ff7fe4
}
.breadcrumb .fa-home,
.breadcrumb .fa-barcode,
.breadcrumb .fa-money,
.breadcrumb .fa-file-pdf-o{
    color:#2a757f !important
}
label{
    
    font-size:12px;
}

.availableSeat {
    /*background-image: url('../img/seat/4.png');*/
    /*background-size: 34px 35px;*/
    /*background-position: -38px 1px;*/
    width: 30px !important;
    height: 30PX !important;
    text-decoration: none !important;
    z-index: 10;
    cursor: pointer;
    
    background-color:#fff;
}

.availableSeat span, .disabledSeat span, .selectedSeat span {
    display: block;
    padding-top: 6px;
    padding-right:13px;
    color: #2a757f;
    cursor: pointer;
    font-size: 7px;
    font-weight:bold;
    transform: rotate(270deg);
}

li.seat {
    display: inline-block;
    margin-left: 1px;
    margin-bottom:2px;
    margin-left:2px;
    position: relative;
}
.middle-row {
    margin-top: 15px;
}

.lble-sign h2 {
    text-transform: uppercase;
    transform: rotate(270deg);
    font-size: 15px;
}
.car-layout{
    border-radius:0px;
    background-color:#efefef
}
.s98_seater h4{
    font-size:16px;
}
.seater-123 .boat-style h2:nth-of-type(1) {
    position: absolute;
    top: 0px;
    left: -10px;
    text-transform: uppercase;
    transform: rotate(270deg);
    font-size: 15px;
}

.s123_seater{
    overflow-y:auto;
}
.seater-123 {
    width:800px;
    padding:0px;
    border: 1px solid #bbb;
    overflow-x:auto;

    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top:120px;
}

.seater-98{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    height:434px;

    

}


.seater-123 .boat-style h2:nth-of-type(2) {
    position: absolute;
    top: -7px;
    right: 33%;
    text-transform: uppercase;
    font-size: 15px;
}

.seater-123 .boat-style h2:nth-of-type(3) {
    position: absolute;
    top:-7px;
    left:15%;
    text-transform: uppercase;
    font-size: 10px;
}

.seater-123 .boat-style h2:nth-of-type(1).lower {
    position: absolute;
    top:-8px;
    left: 41%;
    text-transform: uppercase;
    font-size: 9px;
    transform: rotate(0deg);
}

.seater-123 ul:nth-of-type(1), .seater-123 ul:nth-of-type(2), .seater-123 ul:nth-of-type(3), .seater-123 ul:nth-of-type(4), .seater-123 ul:nth-of-type(5), .seater-123 ul:nth-of-type(6), .seater-123 ul:nth-of-type(7) {
    text-align: left !important;
    margin-left:15px;
}

.seater-123 .boat-style {
    border: 1px solid #ddd;
    position: relative;
    /* overflow: hidden; */
    border-right: 0px;
    border-left: 0px;
}

.pt30:first-of-type{
    border:1px solid red !important;
}
#whole-route .control-label{
    text-align:left !important
}

#lbl-total-seat{
    margin-top:0px;
    font-size:13px;
}
.seater-98 {
    width:455px;
    position: relative;
    padding: 6px;
    
    padding-bottom:10px;
    padding-top:16px;
    margin-left:11%;
}
.carr-layout .availableSeat, .car .disabledSeat, .car .availableSeat, .car .selectedSeat, .carr-layout .selectedSeat {
    /*background-size: 35px 33px !important;*/
    height: 30px !important;
    background-position: center center;
    cursor: pointer;
}

.car li {
    padding: 0px;
    float: left;
    margin-right: 20px;
}

span#remain_seat {
    padding-top: 5px;
    display: block;
    color: #5cb85c;
    font-weight: bold;
}

ul.route-list li a {
    padding: 35px 20px;
    display: block;
    text-decoration: none;
    background-color: #4ecdde;
    color: #fff;
    font-size: 20px;
    border-radius: 0px;
}

ul.route-list li a:hover {

    background-color: #3fa9b7;

}

.form-control{
    border-radius:0px;
    box-shadow:none;
}


.disabledSeat {
    /*background-image: url('../img/seat/6.png');*/
    /*background-size: 34px 34px;*/
    /*background-position: -39px -32px;*/
    width: 30px !important;
    height: 30px !important;
    text-decoration: none !important;
    background-color:#999;
}

.disabledSeat span{
    display: block;
    padding-top:5px;
    padding-right:14px;
    color: #fff;
    cursor: pointer;
    font-size: 7px;
}

.select-seat .seat{
    padding-right:20px !important
}

.btn-ticket{
    width:120px;
    text-align:center; 
    background-color:#2a757f;
    border-color:#2a757f;
    color:#fff !important
}

.btn-ticket:hover{

    color:#fff !important;
    background-color:#3b9daa
}

.b1{
    border:1px solid #efefef;
}
p.route{
    color:#fff;
    font-size:16px;
    background-color:#2a757f;
    padding:10px;
}
p.route .fa{
    color:#fff;
}

p.route span.time{
    font-size:12px;
    padding-top:3px;
}
.p0{
    padding:0px;
}
.mb0{
    margin-bottom:0px;
}

.selectedSeat {

    /*background-image: url('../img/seat/2.png');*/
    /*background-size: 34px 34px !important;*/
    /*background-position: -39px -32px !important;*/
    width: 30px;
    height:30px;
    background-color:green;
}

.ticket-time{
    color:#2a757f;
    font-size:16px;
    font-weight:bold;
}

.badge-system{
    background-color:#2a757f;
    color:#fff;
}
.badge{
    font-size:18px;
}
.seater-98 ul.row-margin {
    display: inline-block;
    text-align: right;
    width:98%;
}

.selectedSeat span{
    color:#fff;
}


.panel-default .seater-123{
    margin-left:-117px;
}

.input-number{
    border-left:1px solid #efefef;
}

.without-seat-body .cricle {
    position: absolute;
    left: 4px;
    bottom: 109px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #5cb85c;
    text-align: center;
    color: #fff;
    padding-top: 12px;
}

.seat-description {
    padding: 15px;
    background: #ddd;
    padding: 10px !Important;
    overflow: hidden;
}
.seat-description li span{
    padding-left:10px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color:#3d9eab
}

.dropdown-user{
    background-color:#3d9eab
}

.seater-96{
    width:430px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.car-layout{
    padding-top:10px !important;
}

.radio label{
    line-height:23px;
}

.alert-system{

            background-color:#3d9eab !important;
            color:#fff;
}

.sidebar ul li.active{
    border-bottom:2px solid #3d9eab;
}