* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue";
    background-color: #fff;
}

h1, h2, h3, h4, h5, p, span {
    font-family: "Helvetica Neue";
}

/* Header */

.responisve-img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.col-top {
    padding: 0px;
}

.top-menu {
    padding: 15px 0;
}

.p-telephone {
    font-size: 13px;
    color: #777;
    margin: 0;
}

.p-flag {
    float: left;
}

.a-flag {
    margin-right: 20px;
}

.register, .login {

    display: inline-block;
    color: #777;
}

.menu-bar li {
    list-style-type: none;
    display: inline-block;
}

.form-wrapper {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    margin-right: 0px;
}

.menu-bar {

    margin: 30px 0 0 0;
}

.menu-bar li a {
    color: #fff;
    background: rgb(42, 239, 97);
    font-size: 13px;
    padding: 6px 16px;
    display: inline-block;
    text-transform: uppercase;
}

.h2-title {
    font-size: 25px;
    color: #fff;
    margin: 20px 0;
}

.bd-top {

    padding: 15px 0 15px 0;
    box-shadow: 0 1px 3px #ddd;
}

.btn-search {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 17px 0px, rgba(0, 0, 0, 0.188235) 0px 6px 20px 0px;
    color: #fff;
    background: #30ad23;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 30px 0;
}

.mdi-action-account-circle {
    position: relative;
    top: 5px;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.menu-bar li:first-child a .icon {
    padding-right: 0px;
}

.icon {
    font-size: 21px;
    padding-right: 9px;
}

.bg-white .bx-pager-item {
    display: none !important;
}

.menu-bar li a:hover {
    background: rgba(42, 239, 97, 0.9);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    color: rgb(255, 87, 34);
}

.logo-brand img {
    width: 43%;
}

.lf-banner {
    padding-top: 35px;
}

.input-text {
    width: 100%;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 7px;
    color: #777;
}

.form-div span {
    color: #fff;
    text-transform: uppercase;
}

.form-div {
    margin-bottom: 15px;
}

.calendar, .search {
    color: #30ad23;
    float: RIGHT;
    bottom: 4px;
    position: absolute;
    right: 20px;
}

.form-div p {
    margin-bottom: 0px;
}

.sp-quantity {
    width: 124px;
    height: 35px;
    font-family: "ProximaNova Bold", Helvetica, Arial;
}

.sp-minus {
    width: 40px;
    height: 35px;
    border: 1px solid #e1e1e1;
    float: left;
    text-align: center;
    cursor: pointer;
}

.sp-input {
    width: 40px;
    height: 35px;
    border: 1px solid #e1e1e1;
    border-left: 0px solid black;
    float: left;
    background: #fff;
    font-size: 20px;
    text-align: center;
}

.sp-plus {
    width: 40px;
    height: 35px;
    border: 1px solid #e1e1e1;
    border-left: 0px solid #e1e1e1;
    float: left;
    text-align: center;
    cursor: pointer;
}

.sp-input input {
    width: 30px;
    height: 33px;
    text-align: center;
    font-family: "ProximaNova Bold", Helvetica, Arial;
    border: none;
}

.sp-input input:focus {
    border: 1px solid #e1e1e1;
    border: none;
}

.sp-minus span, .sp-plus span {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 21px;
    color: #fff;
}

.bx-wrapper .bx-pager {
    bottom: 7px;
}

.index-wrapper .bx-pager {
    display: none;
}

.index-wrapper .bx-wrapper {
    padding: 0 67px;
}

.wrapper .bx-controls-direction {
    display: none;
}

.footer-wrapper {

    background: rgb(42, 239, 97);
}

.footer-wrapper a {
    color: #fff;
    text-shadow: 1px 0px 2px #ccc;
    text-transform: uppercase;
}

.footer-wrapper a:hover {
    color: rgb(255, 87, 34);
}

.footer-p {
    text-align: center;
    font-size: 12px;
    color: #777;
}

.copy-righ {
    background: #1ed150;
    padding-top: 10px;
}

.ft-icon {
    font-size: 14px;
    padding-right: 10px;
}

/* End Header */
/*mobile menu*/
nav:not(.mm-menu) {
    display: none;
}

.header {
    text-align: center;
    background: rgb(42, 239, 97);
    padding: 10px 0;
}

.header,
.footer {
    background: #22ee5b;
    font-size: 16px;
    font-weight: bold;
    color: #fff;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    padding: 10px 50px;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

.header .btn-menu {
    background: center center no-repeat transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30;
    border-radius: 30px;
    border: 1px solid #fff;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 6;
    left: 10px;
}

/*End  mobile menu*/
/*home*/
.banner-menu li {
    list-style: none;
    display: inline-block;
    text-transform: center;
}

.banner-menu li a {
    font-size: 16px;
    color: #444;
}

.banner-menu li a:hover, .banner-menu li a:focus {
    opacity: 0.8;
    color: #4caf50;
    text-shadow: 1px 1px 1px #e1e1e1;
}

.circle-img {
    width: auto;
}

.circle-span {
    border: 1px solid #009688;
    border-radius: 45px;
    margin: 15px 0 5px 0;
    display: inline-block;
    text-align: center;
    height: 80px;
    width: 80px;
    padding-top: 20px;
}

.fv-img {
    padding-top: 15px;
}

.ul-service {
    padding: 15px;
}

.ul-service li {
    padding: 0 0 20px 0;
}

.ul-service li a {
    font-size: 16px;
    color: #444;
}

.ul-service li {
    list-style: none;

}

.bg-white {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
    padding: 15px;
}

.i-service {
    padding: 0 25px 0 25px;
    color: #009688;
    top: 7px;
    position: relative;
}

.btn-text {
    font-size: 18px;
    text-align: center;
    text-transform: none;
    color: #fff !important;
    width: 100%;
    margin: 0 0 15px 0;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
}

.ul-link li {
    list-style-position: inside;
    margin-top: 14px;
}

.ul-link li a:hover, .ul-service li a:hover, .ul-service li:hover {
    color: #4caf50;
    text-shadow: 1px 1px 1px #e1e1e1;
}

.ul-link li a, .ul-link {
    color: #444;
    font-size: 16px;
}

.title-h2 {
    font-size: 20px;
    color: #444;

}

.px-box {
    margin: 25px 0;
}

blockquote p {
    font-size: 14px;
}

blockquote {
    padding: 21px;
    border: none;
    color: #666;
    display: block;
    font-size: 12px;
    line-height: 20px;
    background: #F8F8F8;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.carousel-info img {
    width: 75px;
    height: 75px;
    padding: 3px;
    border-radius: 150px !important;
    border: solid 1px #f5f5f5;
}

blockquote:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: -20px;
    left: 70px;
    width: 0;
    height: 0;
    border-left: 0 inset rgba(0, 0, 0, 0);
    border-right: 22px inset rgba(0, 0, 0, 0);
    border-top: 22px solid #F8F8F8;

}

span.testimonials-name {
    color: #E6400C;
    font-size: 16px;
    display: inline-block;
    font-weight: 300;
    margin: 8px;
}

span.testimonials-post {
    color: #656565;
    display: inline-block;
    font-size: 12px;
    margin: 8px;
}

.center-text {
    text-align: center;
    padding: 10px 0 25px 0;
}

.accept {
    float: none;
    text-align: center;
    margin: 25px 0;
}

.accept li {
    list-style: none;
    display: inline-block;
    padding-right: 30px;
}

/*End home*/

/*Responsive*/
@media (min-width: 768px) {
    .form-left {
        padding-left: 0px;
    }

    .form-right {
        padding-right: 0px;
    }

    .wrapper {
        background: url("../images/bg-menu.jpg") no-repeat;
        background-size: 100%;
    }

    .col-social {
        text-align: right;
    }

    .footer-menu {

        padding: 30px 0;
    }

    .mb-version {
        display: none;
    }

    .banner-menu li {
        text-align: center;
        width: 19%;
    }

}

@media (max-width: 767px) {
    .form-left {
        padding: 0px;
    }

    .form-right {
        padding: 0px;
    }

    .wrapper {
        margin: 5px 0 0 0;
        background-size: 100%;
    }

    .ph-no, .mb-icon {
        padding: 020px;
    }

    .mb-logo {
        width: 50%;
    }

    .col-social {
        text-align: center;
    }

    .menu-bar, .top-menu, .p-telephone {
        display: none;
    }

    .footer-menu {
        text-align: center;
        padding: 15px 0;
    }

    .banner-menu li {
        text-align: center;
        width: 100%;
    }
}

/*End Responsive*?